<div class="article-small">
  <a class="article-small__link" href="{{site.baseurl}}/{{article.title | slugify}}"></a>
  <div class="article-small__bg" style="background-image: url('{{site.baseurl}}/img/content/home/nav-{{article.title | slugify}}.jpg');"></div>
  <div class="article-small__text row--padding">
    <h3 class="title title--large title--bolder">{{article.title}}</h3>
    <a href="{{site.baseurl}}/{{article.title | slugify}}" class="btn btn--inline btn--arrow"> Read Review</a>
  </div>
</div>