<section id="competition" class="section bg--marble">
  <div class="row row--padding align-center">
    <h2 class="title title--large title--bold">Win a stylish stay in Mykonos</h2>
    <p class="row--md p--light space-top--md">Greece’s most glamorous island is awash with chic splendour, a magnificent menagerie of typical Greek marvels, Cycladic charms, parties and Hora fashionistas strutting up and down the lanes. It makes for a stylish getaway full of sun-lounging, boutique shopping and sunset dining in quaint tavernas.</p>
    <div class="row row--xl row--columns-8-4 row--no-gutter space-top--lg">
        <div class="row__column">
          <div class="bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/content/competition/01.jpg')"></div>
        </div>
        <div class="row__column">
          <div class="bg-image-ratio bg-image-ratio--3-2 bg-image-ratio--mobile-half" style="background-image: url('{{ site.baseurl }}/img/content/competition/02.jpg')"></div><div class="bg-image-ratio bg-image-ratio--3-2 bg-image-ratio--mobile-half" style="background-image: url('{{ site.baseurl }}/img/content/competition/03.jpg')"></div>
        </div>
      </div>
    <p class="row--md p--light space-top--lg">Win the chance to spend three nights in a luxury hotel, with flights included. To top off your fashionable getaway Karen Millen are throwing in a £500 gift card to refresh your summer wardrobe  and to ensure only the most stylish of breaks.</p>
    <div class="">
      <a id="track-comp-enter" href="#" class="btn btn--solid js-open-competition ">Enter Now</a>
      <div class="js-competition-form iframe row--padding">
        <iframe src="https://promotion3382.strutta.me" width="100%" height="500"> </iframe>
      </div>
    </div>
  </div>
</section>